<!DOCTYPE html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Home Page</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="js/home.js"></script>
  <link rel="stylesheet" href="css/main.css">

</head>

<body>

  <nav class="navbar navbar-inverse navbar-static-top">
    <div class="container-fluid">
      <div class="navbar-header" >
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">CCREZQ</a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
          <li class="active"><a href="/">Home</a></li>
          <li><a href="/viewdirectors">View Directors</a></li>
        </ul>

        <ul class="nav navbar-nav navbar-right">
          <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
        </ul>
      </div>
    </div>
  </nav>

  <div id="loginContainer">
    <div class="container-fluid">
      <h1>You have arrived at pupper station</h1>
      <div class="panel panel-default">
        <div class="panel-body">
          <a href="/login"><h3>Login</h3></a>
        </div>
      </div>
    </div>
  </div>


    <div class="footer navbar-fixed-bottom">
    </div>

</body>
</html>
