/*COMMON*/
.header{
  background-color: #00BCD4;
  width: 100%;
  height: 50px;
  top: 0 px;
}
.footer{
  background-color: #212121;
  width: 100%;
  height: 35px;
  position: absolute;
  bottom: 0px;
}
.container-fluid{
  padding-top: 25px;
}

/*HOME PAGE*/

/*LOGIN PAGE*/
.loginForm{
  margin: 0 auto;
  width: 60%;
  max-width: 450px;
  background-color: #EEEEEE;
  padding: 10px;
}
/*RE-USE SNIPPETS*/
.addToDB{
  margin: 0 auto;
  width: 60%;
  max-width: 500px;
  background-color: #EEEEEE ;
  padding: 10px;
}

/*TOGGLE BUTTONS*/
.toggleButtonActive{
  padding: none;
  width: 100%;
  background-color: #2196F3;
  color: white !important;
  border-radius: 0 !important;
}
.toggleButtonActive:hover{
  background-color: #0277BD;
  color: white;
}
.toggleButtonInactive{
  padding: none;
  width: 100%;
  background-color: #BDBDBD;
  color: white;
  border-radius: 0 !important;
}
.toggleButtonInactive:hover{
  background-color: #424242;
  color: white;
}
.btn{

}
